footer {
  margin-top: 3.5rem;
  background-color: rgb(18, 18, 18);
  color: rgb(162, 162, 162);
  padding: 3rem;
}

.footer-logo {
  border-bottom: var(--border-style-token-black);
  text-align: center;
  padding: 1rem 0;
}

.footer-logo img {
  height: 2.5rem;
}

.footer-middle {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 2rem 0;
  border-bottom: var(--border-style-token-black);
}

.footer-middle p {
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  font-family: "Irvin Heading Pro", Georgia, "Times New Roman", Times, serif;
  line-height: 1.3em;
  font-size: 14px;
  color: white;
}

.footer-middle ul {
  column-count: 2;
  font-family: "Graphik Medium", Arial, Helvetica, sans-serif;
  letter-spacing: -0.0125em;
  line-height: 1.71em;
  font-size: 14px;
}

.footer-nav-other {
  padding: 2rem 0;
  border-bottom: var(--border-style-token-black);
}

.footer-nav-other ul {
  column-count: 4;
  font-family: "Graphik Medium", Arial, Helvetica, sans-serif;
  letter-spacing: -0.0125em;
  line-height: 1.71em;
  font-size: 14px;
}

.footer-nav a:hover {
  text-decoration: underline;
}

.social-media {
  padding: 2rem 0;
  display: grid;
  grid-template-columns: 3fr 1fr;
  border-bottom: var(--border-style-token-black);
  align-items: center;
  gap: 4rem;
}

.social-media__text {
  font-family: "Graphik Medium", Arial, Helvetica, sans-serif;
  letter-spacing: -0.0125em;
  line-height: 1.27em;
  font-size: 10px;
}

.social-media__text a {
  text-decoration: underline;
}

.social-media__icons {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: start;
}

.social-media__icons img {
  height: 26px;
  transition: transform 200ms ease;
}

.social-media__icons a:hover > img {
  filter: brightness(2);
}

@media screen and (max-width: 1023px) {
  .footer-middle {
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  .footer-nav-sections {
    border-bottom: var(--border-style-token-black);
  }

  .footer-nav p {
    margin-bottom: 2rem;
    text-align: left;
  }

  .footer-middle ul {
    column-count: 2;
    column-gap: 1.5rem;
    text-align: left;
  }

  .footer-nav li {
    margin-bottom: 2rem;
  }

  .footer-nav-other {
    border-bottom: none;
  }

  .footer-nav-other ul {
    column-count: 2;
  }

  .social-media {
    display: flex;
    flex-direction: column-reverse;
    gap: 1rem;
    padding-top: 0;
  }

  .social-media__icons img {
    width: 32px;
    height: 32px;
  }
}

@media screen and (max-width: 767px) {
  footer {
    padding: 1.5rem;
  }

  .social-media__icons {
    justify-content: center;
    padding: 0 0.5rem;
  }
}
