* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "TNYAdobeCaslonPro", "Times New Roman", Times, serif;
  line-height: 1.5em;
  font-size: 21px;
  font-weight: 400;
  --border-bottom-token: 1px solid rgb(229, 229, 229);
}

li {
  list-style: none;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
