.today-mix {
  width: 90%;
  margin: 0 auto;
  border-top: var(--border-style-token-white);
  margin-bottom: 3rem;
}

.today-mix h2 {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 3rem;
  font-family: "Irvin Heading Pro", Arial, Helvetica, sans-serif;
  font-weight: lighter;
  font-size: 28px;
  line-height: 1.14286em;
}

.article h3 {
  font-size: 22px;
  line-height: 1.27273em;
  margin-bottom: 5px;
}

.articles {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.articles a {
  width: 22%;
}

.article {
  width: 100%;
}

.article img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.article p {
  color: rgb(51, 51, 51);
  line-height: 1.41176em;
  font-size: 17px;
}

.article .author-signature {
  margin-top: 5px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(18, 18, 18);
  font-size: 13px;
}

@media screen and (max-width: 1023px) {
  .articles {
    flex-wrap: wrap;
  }

  .articles a {
    width: 100%;
    padding: 1rem 0;
    border-bottom: var(--border-style-token-white);
  }

  .article {
    display: grid;
    grid-template-columns: auto 13rem;
    gap: 0.5rem;
  }

  .article h3 {
    grid-column: 1;
    font-style: lighter;
  }

  .article img {
    grid-area: 1 / 2 / 6;
    margin-top: 0;
    max-height: 9.75rem;
    position: relative;
  }

  .article p {
    grid-column: 1;
  }

  .article .author-signature {
    grid-column: 1;
    font-size: 15px;
    line-height: 1.14286em;
  }
}

@media screen and (max-width: 767px) {
  .article {
    display: block;
  }

  .article img {
    float: right;
    margin-bottom: 0.5rem;
    margin-left: 1rem;
    margin-top: 3rem;
    width: 7rem;
    height: 5.25rem;
  }
}
